@import url(/css/variacion.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #071917;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 76%;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;  
    gap: 50px;
    border-bottom: 100px; 
    border-bottom-color: white;
}
.ul_menu {
    margin-left: 600px;
    margin-right: 0%;
    font-size: 20px;
    width: 80%;
    list-style-type: none;
    display: flex;
    text-align: none;
    gap: 150px;
    padding-left: 100px;
    color: white;
}
.ul_menu :visited {
    text-decoration: none;
    color: white;

}
.sin_subrayado{
    text-decoration: none;
    color: white;

}
.sin-subrayado:visited {
    color: #000000;
  }
.linea__ul{
    width: 80%;
    left: 0% ;
    margin-left: -600px;
    padding-right: 50px;
    padding-top: 100px;
}
.linea__ul ul img{
    display: flex;
    width: 1700px;
    position: center;
    right:50px;
    padding-right: 50px;

}
.div__icon{
    margin-left: 320px;
    padding-left: 50px;
    margin-right: -800px;
    gap: 30px;
}
.div__img{
    display: flex;
    gap: 20px;
}
