:root{
    --font-color-1: #eee;
    --color-gradient-1: #376e4000;
    --color-gradient-2: #071917;
    --banner-2: url(/storage/img/linea.png);
}

@font-face {
    font-family: "medium";
    src: url(../storage/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "base";
    src: url(../storage/fonts/Montserrat-VariableFont_wght.ttf);
}   