:root{
    --font-color-1: #eee;
    --color-gradient-1: #ff000014;
    --color-gradient-2: #00ffe1;
    --banner-1: url(/storage/img/photo1.png)
    
}

@font-face {
    font-family: Monserrat-Medium;
    src: url(mi-web/storage/font/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: Monserrat-Semibold;
    src: url(/storage/font/Montserrat-VariableFont_wght.ttf);
}