<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header class="header">
        <div class="div__logo">
            <img src="/storage/img/photo2.png" alt="">  
        </div>
        <div class="div_menu">
            <ul class="ul_menu">
                <li><a href="/views/blog1.html" class="sin_subrayado" target="_blank">Blog</a></li>
                <li><a href="/views/about.html" class="sin_subrayado" target="_blank">About</a></li>
                <li><a href="/views/contact.html" class="sin_subrayado" target="_blank">Contact</a></li>
            </ul>
        </div>
        <div class="div__icon">
            <ul class="div__img">
                <img src="/storage/img/vec1.png" alt="">
                <img src="/storage/img/vec2.png" alt="">
            </ul>
        </div>
        <div class="linea__ul">
            <ul>
                <img src="/storage/img/linea.png" alt="">
            </ul>    
        </div>
    </header>
</body>
</html>